body{
    display: flex;
    justify-content: center;
    background-color: #1C1C1C;
    color: white;
    transition: background-color 0.5s ease;
}

.botonesDiv{
    display: flex;
    justify-content: space-between;
}

img{
    width: 240px;
    height: 240px;
    padding: 0px 40px;
    margin-top: 200px;
    margin-bottom: 150px;

}
img:hover{
    cursor: pointer;
    transform: scale(1.15);
}


p{
    color: rgb(235, 228, 216);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-align: center;
    
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    text-align: center;
    margin-top: -60px;
}

.textos{
    margin-top: -60px;
}

#resultado, #userChoice, #computerChoice{
    transition: color 0.5s ease;
}

.contador{
    display: flex;
    justify-content: center;
    
}
#user{
    padding-right: 20px;
 
}
#computer{
    padding-left: 20px;
}
#userChoice{
    padding-right: 20px;
}
#computerChoice{
    padding-left: 20px;
}

.userVsComputer{
    display: flex;
    justify-content: center;
}