body{
    display: flex;
    justify-content: center;
    background-color: #1C1C1C;
    color: white;
    transition: background-color 0.5s ease;
}

.botonesDiv{
    display: flex;
    justify-content: space-between;
}

img{
    width: 240px;
    height: 240px;
    padding: 0px 40px;
    margin-top: 200px;
    margin-bottom: 150px;

}
img:hover{
    cursor: pointer;
    transform: scale(1.15);
}


p{
    color: rgb(235, 228, 216);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-align: center;
    
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    text-align: center;
    margin-top: -60px;
}

.textos{
    margin-top: -60px;
}

#resultado, #userChoice, #computerChoice{
    transition: color 0.5s ease;
}

.contador{
    display: flex;
    justify-content: center;
    
}
#user{
    padding-right: 20px;
 
}
#computer{
    padding-left: 20px;
}
#userChoice{
    padding-right: 20px;
}
#computerChoice{
    padding-left: 20px;
}

.userVsComputer{
    display: flex;
    justify-content: center;
}

.text-footer{
    color: rgb(247, 190, 168);
}

@media (max-width: 400px) {

    img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 150px;}


h1{
    font-size: 1rem;
} 
}
@media (min-width: 400px) and (max-width: 750px) {

    img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 150px;}


h1{
    font-size: 1.4rem;
} 
}
@media (min-width: 750px) and (max-width: 1000px) {

    img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 150px;}


h1{
    font-size: 2rem;
} 
}
